html {
    font-family: 'Playfair Display', serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.painel {
    margin: 10px;
    padding: 28px;
    box-shadow: 0 0.5px 5px rgba(0, 0, 0.15);
}

/* Área dos pontos */

.scores {
    display: flex;
}

.score {
    flex: 1; /*Significa que vai ocupar a tela inteira */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
    border-radius: 10px;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: chartreuse;
    border-radius: 10px;
}

.life-bar .life.danger {
    background-color: crimson;
    border-radius: 10px;
}

/* Área de resultado */

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: darkolivegreen;
}

.result .lose {
    color: darkred;
}

/* Área dos botões */

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin:  0px 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
}

.new-game {
    background-color: teal;
    color: white;
}

.attack {
    background-color: tomato;
    color: white;
}

.especial-attack {
    background-color: rgb(114, 55, 114);
    color: white;
}

.heal {
    background-color: turquoise;
    color: white;
}

.give-up {
    background-color: slategrey;
    color: white;
}
 /* Área dos logs  */

 .logs ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     padding: 0;
     margin: 0px;
     
 }

 .logs ul li {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    border-radius: 10px;
 }

.player {
     background-color: rgb(214, 211, 211);
}

.monster {
    background-color: rgb(238, 228, 230);
}